/* Site Credits
   ========================================================================== */

.site-credits {
  text-align: center;
}

.credit__copyright {
  font-size: calc-em(12px);
  margin-bottom: 0;
}