// Site set-up

// Site Wide Colours
$brand: #de6439;
$brand-secondary: #7eca72;
$background-color: #fff;
$base-text-color: #3E3E3E;

$base-text-align: left; // switch for rtl
$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.6;

$site-max-width: 800px;

$space: 1em;

$link-color: $brand;
