// Site set-up

// Site Wide Colours
$brand: #de6439;
$brand-secondary: #7eca72;
$background-color: #fff;
$base-text-color: #3E3E3E;
$brand-grey: #E0E0E0;

$base-text-align: left; // switch for rtl
//$base-font-family: "arvo",serif;
$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.4;

$site-max-width: 940px;

$space: 1em;

$link-color: $brand;
