<footer class="island site-foot">
  <h3>A little about me</h3>
  <p>Yo, I'm Brad and I'm a developer making awesome stuff for <a href="http://mintdigital.com">Mint Digital</a> in London. I'm currently working on a <a href="http://wearehireable.com">job board</a> for graduates and to totally revolutionise local sport. Who wants to touch me&hellip; I said who wants to fucking touch me! Ooooh</p>
</footer>
<div class="site-credits">
  <a href="https://twitter.com/bradleyfew" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @bradleyfew</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <p class="push--top credit__copyright">&copy; 2013 Bradley Few.</p>
</div>