/* Clearfix
   ========================================================================== */

/* ClearFix - Ref: nicolasgallagher.com/micro-clearfix-hack/ */
.cf {
	zoom:1;
}
.cf:before,
.cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}