/* Hidden
   ========================================================================== */

/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
.hidden {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.offscreen {
  position: absolute;
  left: -999em;
}