/* Media object
   ========================================================================== */

/* Media Block - Ref: www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
.media {
	display: block;
}

.media_img {
	float: left;
	margin-right: 1em;
}

.media_body {
	overflow: hidden;
	margin-bottom: 0;
}