/* Article
   ========================================================================== */

.island {
	background-color: #fff;
}

.island {
	padding: 1em;
	word-wrap: break-word;
}

.post > p {
	text-align: justify;
	@include hyphens(auto);
}


// Darken on iteration
@for $i from 1 through 10 {
	.post--id-#{$i} {
			background-color: darken(#fff, 5 * $i);
	}
}

.post--listing .post__title {
	margin: 0;
}

pre {
	background-color: rgba(245, 245, 245, 1);
	padding: 1em;
	overflow: auto;
	word-wrap: normal; // Stop break-word
}

.post p {
	
	&:last-child {
		margin-bottom: 0;
	}
}

code {
	color: #e0bd44;
}

.post__date {
	display: inline-block;
	border-bottom: 1px solid #ccc;
	margin: 0 0 $base-line-height + em;
	padding-right: 1em;
}
