/* Body
   ========================================================================== */


.site-body {
	margin-bottom: 2em;
}

.is-twitter {
	color: #0084B4;
	
	&:hover,
	&:focus {
		color: darken(#0084B4, 10%);
	}
}

.is-github {
	color: #ccc;
	
	&:hover,
	&:focus {
		color: darken(#ccc, 10%);
	}
}