/* Header
   ========================================================================== */

.site-head {
	padding: 1em 0 0;
}

.site-title {
	font-weight: normal;
	margin: 0;
}

.site-title a {
	color: rgba(0, 0, 0, .5);
	@include transition(letter-spacing .1s ease);
	
	&:hover,
	&:focus {
		text-decoration: none;
		letter-spacing: .1em;
	}
}

.site-img {
	margin: 0 1em;
	width: 56px;
}

.site-nav {
	clear: left;
	margin-top: 1em;
	@extend .cf;
}

.nav__item {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	float: left;
	font-size: font-sizing(18px);
	font-weight: bold;
	padding: 1em 0;
	position: relative;
	text-align: center;
	width: 50%;
	@include box-sizing(border-box);
	@include transition(background-color 0.1s ease);
	
	& + .nav__item {
		border-left: 1px solid #eee;
	}
	
	&:hover,
	&:focus {
		color: #ccc;
	}
	
	&.is-current {
		text-decoration: underline;
		
		&:before {
			content: '';
			background-color: $brand;
			display: inline-block;
			height:20px;
			width:20px;
			position: absolute;
			top:-10px;
			left: 50%;
			margin-left: -10px;
			
			@include transform(rotate(45deg));
		}
	}
}