<!doctype html>
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="sirBrad" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/index.css" />
</head>
<body>
  <div class="contain">

    {% include header.html %}

    <div class="site-body" role="main">
      {{ content }}
    </div>

    {% include footer.html %}
    {% include site-credits.html %}

  </div>

  {% include google_analytics.html %}
</body>
</html>